<a href="https://colab.research.google.com/github/AndrewRWilliams/AndrewRWilliams.github.io/blob/master/intro_data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python

Python is a powerful high-level interpreted language.

## Variables

Integers

In [ ]:
a = 1
b = 3
print("Sum, difference, division:", a + b, a - b, a // b)

Sum, difference, division: 4 -2 0

Floting point numbers

In [ ]:
print("Floating point division:", 1.0 / 2.0)

Floating point division: 0.5

Complex numbers

In [ ]:
print("Complex numbers:", 1.0 + 1.0j)

Complex numbers: (1+1j)

Booleans

In [ ]:
a = True
b = False
print("Boolean operations:", a or b, a and b, not a)

Boolean operations: True False False

Strings

In [ ]:
s = "n"
print("String:", a)

String: This is a string too

Single quotes can also be used

In [ ]:
a = 'This is a string too'

We can split long strings like this

In [ ]:
a = ("Very very very "
     "long long long "
     "string in Python"
    )
a

'Very very very long long long string in Python'

Or use multiline string

In [ ]:
a = """this
is
multiline 
string"""
a

'this\nis\nmultiline \nstring'

String concatenation

In [ ]:
"str" + "ing"

'string'

Some of useful string methods:

In [ ]:
a = ""
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

Try following methods: `.endswith`, `.join`, `.capitalize`

String formatting

In [ ]:
"This is a number {}, this is another number {}!".format(10, 20)

'This is a number 10, this is another number 20!'

You can specify how number is formatted

In [ ]:
"This is pi {:0.2f}!".format(3.1415)

'This is pi 3.14!'

Format strings look like this

In [ ]:
f"This is sum of 2 and 3: {2 + 3}"

'This is sum of 2 and 3: hello'

## Simple data structures: lists, maps, sets, tuples

Lists are designed to store a number of ordered values.

### List

In [ ]:
array = [1, 4, 2, 3, 8, 7, 6, 5]
array

[1, 4, 2, 3, 8, 7, 6, 5]

Addressing list by index

In [ ]:
array[0]

1

Slice is a sub-sequence of a list

In [ ]:
array[1:5]

[4, 2, 3, 8]

End-less slices take either prefix

In [ ]:
array[:5]

[1, 4, 2, 3, 8]

or suffix

In [ ]:
array[5:]

[7, 6, 5]

Third argument to the slice is the step size

In [ ]:
[1, 4, 2, 3, 8, 7, 6, 5]
array[2:7:2]

[2, 8, 6]

Lists may contain values of different types

In [ ]:
len([1, 1e-8, "Hello", [9, 8]])
sum
type

4

### Maps
Maps (dictionaries) can store relations between pairs of values

In [ ]:
m = {"height": 100., 
     "width": 20.,
     "depth": 10.}
m
dict(height=100.)

{'height': 100.0}

Retrieving value by key

In [ ]:
m["width"]

20.0

Checking that a map contains a key

In [ ]:
"name" in m

True

Add a new key-value pair

In [ ]:
m["name"] = "rectangle"

Or change existing value

In [ ]:
m["name"] = "RECTANGLE"
m

{'depth': 10.0, 'height': 100.0, 'name': 'RECTANGLE', 'width': 20.0}

Remove key/value

In [ ]:
m.pop("name")

'RECTANGLE'

In [ ]:
m

{'depth': 10.0, 'height': 100.0, 'width': 20.0}

### Tuples
Tuples are similar to lists but are immutable -- they cannot be altered.

In [ ]:
my_array = [1, 2, 3]
my_tuple = (1, 2, 3)

# This is OK
my_array[0] = 100

# This will raise an exception
my_tuple[0] = 100

TypeError: ignored

In [ ]:
a = (1, 2)
b = (3, 4)
(1, 2) + (3, 4)

(1, 2, 3, 4)

### Sets
Sets are unordered collections that support fast search, insertion, deletion and union.

In [ ]:
animals = {"cat", "dog", "elephant"}
animals

{'cat', 'dog', 'elephant'}

Check that element is in set

In [ ]:
"cat" in animals

True

Perform set operations: union, intersection, etc

In [ ]:
animals.union({"zebra", "llama"})

{'cat', 'dog', 'elephant', 'llama', 'zebra'}

## Control flow

Branching

In [ ]:
a = int(input())
if a > 6:
    print("a is greater than 6")
elif a < 3:
    print("a is less than 3")
else:
    print("a is between 3 and 6")

5
a is between 3 and 6

Loops

In [ ]:
for i, j in enumerate(["cat", "dog"]):
    print(i, j)

0 cat
1 dog

Useful functions for looping:
- `range`
- `enumerate`
- `zip`

Iterating a dictionary

In [ ]:
for k, v in m.items():
    print(k, v)
    if k == "width":
        continue
    # long processing
    print("again", v)

height 100.0
again 100.0
width 20.0
depth 10.0
again 10.0

While loop

*It is very rare that you need to use while loop. Following example is very not pythonic!*

In [ ]:
stop = False
i = 10
while not stop:
    i += 1
    if i % 10 == 0:
        stop = True
        
print(i)

20

## List comprehensions

In [ ]:
[i + 1 for i in [1, 2, 3] if i != 2]

[2, 4]

It works with dictionaries too

In [ ]:
{i: i + 1 for i in [1, 2, 3]}

{1: 2, 2: 3, 3: 4}

## Functions

Defining functions

In [ ]:
def is_odd(a):
    return a % 2 == 0

is_odd(2)

True

Functions can be defined inside functions

In [ ]:
def is_odd(a):
    
    def is_divisible(number, base):
        return number % base == 0
    
    return is_divisible(a, 2)

is_odd(2)
is_divisible(6, 5)

NameError: ignored

You can provide default arguments.

In [ ]:
def add_or_subtract(first, second, operation="sum"):
    if operation == "sum":
        return first + second
    elif operation == "sub":
        return first - second
    else:
        print("Operation not permitted")
        
add_or_subtract(first=3, second=4, operation="sum")

7

Varargs: variable size arguments

In [ ]:
def sum_all(*args):
    # args is a list of arguments
    result = 0
    for arg in args:
        result += arg
    return result

# Call vararg function
print("Sum of all integers up to 10 =", sum_all(1, 2, 3, 4, 5, 6, 7, 8, 9))

Sum of all integers up to 10 = 45

Keyword arguments

In [ ]:
def print_pairs(**kwargs):
    # kwargs is a map
    for k, v in kwargs.items():
        print(k, v)
        
print_pairs(a=1, b=2)

a 1
b 2

Keyword only arguments

In [ ]:
def create_car(*, speed, size):
    print("Car created with speed", speed, "and size", size)
    
create_car(speed=9, size=3)

TypeError: ignored

Functions as parameters

It is possible to pass a function as an argument, operation here is assumed to be a function

In [ ]:
def reduce(array, operation):
    result = 0
    for k, v in enumerate(array):
        if k == 0:
            result = v
        else:
            result = operation(v, result)
  
    return result

Apply the function with another function `add_or_subtract`

In [ ]:
one_to_nine = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(one_to_nine)

print("Sum of the array")
#The operation is infered from the default parameter of add_or_subtract
reduce(one_to_nine, add_or_subtract)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
Sum of the array

45

Lambdas

A function can also be defined anonymously

In [ ]:
print("Product of the array")
reduce(one_to_nine, lambda x, y : x * y)


prod(5, 6)

Product of the array

30

Closures

A function can return another function with specific behaviours depending on the arguments

In [ ]:
def get_loss(op_reduce, op_foreach):
    
    def loss(a, b):
        c = []
        for av, bv in zip(a, b):
            c.append(op_foreach(av, bv))
        return op_reduce(c)
  
    return loss

This function can help to define mean squared error

In [ ]:
mse_loss = get_loss(lambda x : sum(x) / len(x), 
                    lambda a, b : (a - b) ** 2)

Or mean absolute error

In [ ]:
mae_loss = get_loss(lambda x : sum(x) / len(x), 
                    lambda a, b : abs(a - b))

We can check that it works as intended

In [ ]:
list1 = [0, 1, 1, 3, 0, 2, 3]
list2 = [1, 1, 2, 0, 0, 2, 3]

list_mse = mse_loss(list1, list2)
list_mae = mae_loss(list1, list2)

print("Two lists:\n", list1, "\n", list2)
print("MSE Loss: {}\nMAE Loss: {}".format(list_mse, list_mae))

Two lists:
 [0, 1, 1, 3, 0, 2, 3]
 [1, 1, 2, 0, 0, 2, 3]
MSE Loss: 1.5714285714285714
MAE Loss: 0.7142857142857143

## Exceptions

In [ ]:
# Throw exception
def bar():
    foo()

def foo():
    1 / 0
    
bar()

ZeroDivisionError: ignored

In [ ]:
# Catch exceptions
try:
    raise ValueError
except ValueError:
    print("Do something else")
finally:
    print("This part runs always. It is useful for closing files or "
          "releasing other resources")

Do something else
This part runs always. It is useful for closing files or releasing other resources

## Classes

Class definition

In [ ]:
class Shape:
    pass

`shape` is an object of class `Shape`

In [ ]:
shape = Shape()
type(shape)

__main__.Shape

In legacy python we used to write
```python
class Shape(object):
```
This is not needed anymore 
unless you expect someone to run you code in legacy environment

More on class definitions

In [ ]:
class Shape:
    class_field = 9
    
    def __init__(self, name):
        self.name = name
        self.value = 42
    
    def method(self, a):
        return a * 2 + self.value
    
shape = Shape("name")
shape.method(7)

56

## Imports

Adding new packages in python is very easy and many packages are available from the box. If you want some library, there is a good chance that someone else wrote it already.

Generally, import statement looks like

In [ ]:
import time

time.time()

1568137313.0086584

You can specify what parts of the package you want to import

In [ ]:
from time import time, sleep

print(time())
sleep(2)
print(time())

1568137330.697699
1568137332.6999407

## Other useful features

Multiple assignment

In [ ]:
a, b = b, a

It works with any kind of list-like objects!

In [ ]:
a, b = [10, 11]

Starred assignment expressions

In [ ]:
a, *b = [1, 2, 3, 4]
print(b)

[2, 3, 4]

This works for prefixes and sufixes

In [ ]:
*a, b, c = [1, 2, 3, 4]
print(a)

[1, 2]

# Exercises

## Exercise 1

Write a function that samples a uniform random number from `a` to `b`.

Use function `random.random` from package `random`. Documentation is available [here](https://docs.python.org/3.7/library/random.html)

## Exercise 2

Write a function that creates a list of length `n` of samples like in Excercise 1.

## Exercise 3

Write a function that computes an average of a list of numbers.

## Exercise 4

Write a function that creates `m` lists like in Exercise 2 and computes average of each list

Create a list of averages of numbers between 1.0 and 2.0. Make each list of size 10. Vary number of averages from 100 to 10000. Adjust number of bins in the histogram for the best visualization.

Use `matplotlib` library as follows:
```python
from matplotlib import pyplot as plt

plt.figure()
plt.hist(array, bins=50)
plt.show()
```